.provision-container{
    display: flex;
    box-sizing: border-box;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.provision-container span.note{
    font-size: small;
    color: var(--text-color)
}

.provision-container .row{
    display: flex;
    gap: 1em;
}