.provision-container{
    display: flex;
    box-sizing: border-box;
    padding: 1em;
    flex-direction: column;
    align-items: center;
}

.provision-container .row{
    display: flex;
    gap: 1em;
}