.slider-wrapper {
    box-sizing: border-box;
    background-color: var(--surface-color);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-wrapper h3{
    margin: 0;
}

.vertical-slider-container {
    width: 12px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 0;
    background-color: var(--surface-color);
}

.brightness-slider.vertical {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 12px;
    border-radius: 6px;
    outline: none;
    transition: opacity .2s;
    opacity: 0.9;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    left: calc(50% - 100px);
    top: calc(50% - 6px);
    --fill-percentage: 0%;
    background: linear-gradient(to right, var(--primary-color) var(--fill-percentage), #ccc var(--fill-percentage));
}

.brightness-slider.vertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--surface-color);
    cursor: pointer;
    margin-top: -10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.brightness-slider.vertical::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: transparent;
    height: 12px;
    border-radius: 6px;
}