body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(45, 19, 92);
    color: white;
    box-sizing: border-box;
    padding: .5em;
    margin-bottom: 1em;
    height: 60px;
}

header nav h1 {
    margin: 0;
}

#connectMqtt.hide,
#mqttFormParameters.hide,
#disconnectMqtt.hide,
#colorChooser.hide,
#brightnessController.hide,
#topicName.hide {
    display: none;
}

#settingsContainer {
    border: none;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    height: 100vh;
}

#settingsContainer::backdrop{
    background-color: rgba(1, 1, 1, 0.5);
}

.disconnectedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #f5f5f5;
    border-radius: 10px;
    position: absolute;
    padding: 1rem;
    left: 50%;
    top: calc(50%);
    translate: -50% -50%;
}

input[type=submit] {
    width: fit-content;
    outline: none;
    border: none;
    background-color: rgb(101, 101, 255);
    color: white;
    border-radius: 4px;
    height: fit-content;
    padding: 8px 12px;
    cursor: pointer;
    transform-origin: center;
    transform: scale(1);
    transition: all .2s linear;
}
fieldset{
    outline: none;
    border: none;
    padding: 0;
}

input[type=submit]:active {
    transform: scale(0.8);
}

button{
    outline: none;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transform-origin: center;
    transition: all 0.2s linear;
}

button:active{
    transform: scale(.8);
}

button#closeSettings{
    background-color: #707070;
    color: white;
}

input[type=text],
input[type=number],
select {
    border: 1px solid #707070;
    outline: none;
    height: fit-content;
    border-radius: 4px;
    padding: 6px 4px;
}

input[name=port] {
    width: 50px;
}

#mqttFormParameters {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.row {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.row.submit {
    justify-content: flex-end;
    margin-top: .5em;
}

.row label {
    font-size: small;
    font-weight: 600;
}