@import url('./buttons.css');
@import url('./forms.css');
@import url('./inputs.css');


:root {
    --background-color: #f5f5f5;
    --text-color: #424242;
    --body-primary-color: #795548;
    --secondary-color: #9e9e9e;
    --accent-color: #ff9800;
    --surface-color: #ffffff;

    --primary-color: #6366f1;
    --info-color: #3b82f6;
    --success-color: #22c55e;
    --warning-color: #facc15;
    --danger-color: #ef4444;
    --link-color: #6366f1;


    --circle-loader-icon: url('../assets/images/loading-circle.svg');
    --home-icon: url('../assets/images/home.svg');

    --nav-height: 60px;
}


body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--background-color);
}

header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: white;
    box-sizing: border-box;
    padding: .5em;
    height: var(--nav-height);
}

header nav h1 {
    margin: 0;
}

header nav a{
    text-decoration: none;
    text-align: center;
}

header nav a span.icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

header nav a span.icon.home{
    background-image: var(--home-icon);
}