.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc( 100vh - var(--nav-height));
    transition: all 0.2s linear;
    gap: 1em;
}

.component-group{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: stretch;
    justify-content: end;
    min-height: 465px;
}
.color-selector{
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 400px;
    height: 470px;
}
.chooser-actions{
    display: flex;
    gap: .5em;
    width: fit-content;
    background-color: var(--surface-color);
    padding: .5em 1em;
    border-radius: 8px;
}